@font-face {
    font-family: 'Franklin Gothic Medium';
    src: url('../fonts/framd.eot');
    src: local('☺'), url('../fonts/framd.woff') format('woff'), url('../fonts/framd.ttf') format('truetype'), url('../fonts/framd.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: Arial, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 1000;

}

.logo{
    color: white;
    font-size: 28px;
    line-height: 60px;
    float: left;
    -webkit-animation: cumming 1s ease;
    -o-animation: cumming 1s ease;
    animation: cumming 1s ease;
    font-family: "Franklin Gothic Medium" , sans-serif;
}

.white-btn:visited{
    color: white;
}

.white-btn{
    color: white;
}

.menu{
    float: left;
}

.menu li a{
    transition: all 0.5s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.menu li a:visited{
    color: white;
}

.menu li a:hover{
    color: #f78c1c;
}

.menu li a:active{
    transform: scale(1.1);
}

ul li{
    font-family: "Franklin Gothic Medium",sans-serif;
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 38px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: menu 0.5s ease forwards;
    -o-animation: menu 0.5s ease forwards;
    animation: menu 0.5s ease forwards;
    opacity: 0;
}
 .menu li:nth-child(2){
     animation-delay:0.4s ;
 }
.menu li:nth-child(3){
    animation-delay:0.8s ;
}
.menu li:nth-child(4){
    animation-delay:1.2s ;
}
.menu li:nth-child(5){
    animation-delay:1.6s ;
}
.menu li:nth-child(6){
    animation-delay:2.0s ;
}

.main{
    width: 100%;
    height: 1015px;
    background: url("../img/Парень.png") 90% 100%/auto 85% no-repeat, url("../img/фон.png") 100% 100%/100% 100% no-repeat;
}

.title__container{
    float: left;
    width: 100%;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation:title_cnt 1s ease forwards;
    -o-animation:title_cnt 1s ease forwards;
    animation: title_cnt 1s ease forwards;
    animation-delay: 2.2s;

}
.title__container h1{
    font-family: Arial, sans-serif;
    font-size: 70px;
    font-weight: bold;
}
.title__container h4{
    font-size: 22px;
    margin-top: 30px;
    color: #79818d;
}

.title__container input{
    height: 40px;
    font-size: 15px;
    text-align: center;
    margin: 55px 14px 0 14px;
    padding: 0 16px;
    border: 2px solid #6d7682;
    background: none;
    color: #6d7682;
    border-radius: 7px;
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover{
    background: #344051;
    color: white;
}

.title__container input:active{
    transform: scale(1.1);
}

@keyframes cumming {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes menu {
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes title_cnt {
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}

.myself {
    width: 100%;
    height: 716px;
    background: #fcfdfd;
}
.title__container1{
    width: 729px;
    margin: 1% auto;
    text-align: center;

}
.title__container1 img{
    display: block;
    margin: auto;
    padding: 30px 0 30px 0;
}
.title__container1 h2{
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Franklin Gothic Medium", sans-serif;
    color: #263244;
}
.title__container1 p{
    text-align: justify;
    padding-bottom: 40px;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    color: #717883;
}

.text-typing
{
    width: 44em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}
@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

.title__container1 input{
    padding-left: 20px;
    border: 2px solid #6f707e;
    border-radius: 6px;
    text-align: center;
    font-size: 15px;
    transition: all 0.2s;
    transform: scale(1);
}
.title__container1 input[type="submit"] {
    background:url("../img/иконка.png") no-repeat left;
}
.title__container1 input:hover{
    box-shadow: 3px 3px 3px 3px grey ;
}
.title__container1 input:active{
    transform: scale(1.1);
}
.skills{
    width: 100%;
    height: 542px;
    background: url("../img/картинка_фона.png") no-repeat center fixed;
    text-align: center;
    background-size: cover;
}



.skills h2{
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Franklin Gothic Medium", sans-serif;
    text-align: center;
    color: #263244;
    padding: 107px 0 30px 0;
}

.skills img[type="lol"]{
    display: block;
    margin: auto ;
    padding-bottom: 108px;
}
.web, .develop, .CEO, .marketing{
    display: inline-block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.web:hover, .develop:hover, .CEO:hover, .marketing:hover{
    box-shadow:
            1px 1px orange,
            2px 2px orange,
            3px 3px orange,
            4px 4px orange,
            5px 5px orange,
            6px 6px orange,
            7px 7px orange;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
}
.skills img[type="Z"]{
    padding-bottom: 36px;
}

.skills h3{
    font-size: 22px;
    color: #cf7600;
    font-weight: bold;
    padding-bottom: 14px;
}

.skills p{
    text-align: inherit;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    color: #3f495a;
}

.case{
    width: 100%;
    height: auto;
}

.case h2{
    padding: 104px 0 30px 0;
    font-size: 40px;
    color: #384354;
    font-weight: bold;
    text-align: center;
}

.title__container2>p{
    padding: 36px 0 39px 0;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    color: #3f495a;
    text-align: center;

}

.lol , #line{
    display: block;
    margin: auto;
}

#case{
    display: block;
}

.inf_container{

    height: 200px;
    margin: 0 auto 0 auto;
}

.inf_container1{

    display: inline-block;
    float: left;

}

.inf_container1 h3{
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: #384354;
    font-weight: bold;
    padding-bottom: 14px;
}

.inf_container1 p{
    font-family: Calibri , sans-serif;
    font-size: 15px;
    color: #3f495a;
    padding-bottom: 14px;
}

.inf_container1 input{
    width: 201px;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 22px;
    color: white;
    background: #63b5ae;
    border-radius: 5px;
    padding: 15px 0;
    transition: all 1s ease;
}

.inf_container1 input:hover{
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.inf_container2{

    display: inline-block;
    float: left;
}

.inf_container2 h3{
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 25px;
    color: #384354;
    font-weight: bold;
}

.inf_container2 p{
    margin-top: 6px;
    font-family: Calibri , sans-serif;
    font-size: 19px;
    color: #3f495a;
    text-align: justify;
}

.money{
    width: 100%;
    height: auto;
}

.money>h2{
    margin-top: 200px;
    padding-bottom: 5px;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 40px;
    text-align: center;
    color: #1c2534;
}

.menu1{
    width: 891px;
    margin: auto;
}

.menu1 h2{
    padding: 50px 0 22px 0;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 30px;
    text-align: left;
    color: #1c2534;
}

.menu1 select{
    width: 100%;
    height: 57px;
    background: #eeeeee;
    font-family: "Franklin Gothic Medium", sans-serif;
    color: #737373;
    padding: 20px;
    line-height: 57px;
}

.payment{
    width: 891px;
    margin: 35px auto auto auto;
    text-align: left;
    border-top: 2px solid #d1d1d1;
}

.payment h3{
    padding-top: 20px;
    font-size: 22px;
    color: #1c2534;
    font-weight: bold;
}

.statistics{
    margin-top: 150px;
    width: 100%;
    height: 500px;
    background: url("../img/фон_статистика.png") no-repeat center;
    text-align: center;
}

.statistics h2{
    font-family: "Franklin Gothic", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    padding: 103px 0 32px 0;
}

.block1,.block2,.block3,.block4{
    display: inline-block;
    margin: 108px 75px 0 75px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.block1:hover,.block2:hover,.block3:hover,.block4:hover{
    box-shadow:
            1px 1px orange,
            2px 2px orange,
            3px 3px orange,
            4px 4px orange,
            5px 5px orange,
            6px 6px orange,
            7px 7px orange;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
}

.statistics h3{
    font-size: 18px;
    font-family: "Franklin Gothic", sans-serif;
    color: #323e4f;
    margin: 32px 0;
}

.t1{
    font-family: "Franklin Gothic", sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.reviews{
    width: 100%;
    height: 591px;
    text-align: center;
}
.reviews h2{
    margin: 105px 0 34px 0;
    font-size: 40px;
    color: #384354;
    font-weight: bold;

}
img[type="man"]{
    margin: 58px auto 34px auto;
}
.reviews p{
    width: 688px;
    margin: auto;
    text-align: center;
}
.contacts{
    width: 100%;
    height: 810px;
    background: url("../img/Фон_контакты.png") 90% 100%/auto auto no-repeat ;
    text-align: center;
}
.contacts>h2{
    padding: 105px 0 34px 0;
    font-size: 40px;
    font-family: "Franklin Gothic Medium", sans-serif;
    color: white;
    font-weight: bold;
}
.contacts>p{
    font-family: Calibri, sans-serif;
    color: white;
    font-size: 15px;
    padding: 32px 0 45px 0;
}
.contacts1,.contacts2,.contacts3{
    display: inline-block;
    height: 72px;
    width: 203px;
    margin: auto;

}
.contacts1 p,.contacts2 p,.contacts3 p{
    font-family: Calibri, sans-serif;
    color: white;
    font-size: 15px;
    padding-top: 12px;
}
.vanish{
    visibility: hidden;
}
.message{
    width: 750px;
    margin: auto;
}
.message h2{
    font-size: 28px;
    font-family: "Franklin Gothic", sans-serif;
    color: white;
    margin: 39px 0 46px 0;

}
.message input{

    width: 330px;
    height: 34px;
    margin: 0 15px 0 15px;
    opacity: 0.7;
}
.message textarea{
    margin: 15px 0 28px 0;
    width: 695px;
    height: 94px;
    opacity: 0.7;
}
#button{
    background: rgba(205, 214, 219, 0);
    width: 125px;
    color: white;
    font-size: 16px;
    font-family: "Franklin Gothic Medium", sans-serif;
    border: 2px solid white;
    padding: 0 16px;
    border-radius: 8px;
    transition: all 1s ease;
    transform: scale(1);
}

#button:hover{
    box-shadow: 0 0 30px orange;
    transform: scale(1.1);
    background: white;
    color: black;
}

.contacts footer{
    padding-top: 68px;
}
.f1,.f2,.f3,.f4,.f5,.f6{
    margin: 0 15px;
}
.google_maps iframe{
    width: 100%;
    height: 350px;
}
#footer{
    height: 100px;
    background: #2c3e51;
}
#footer p{
    text-align: center;
    line-height: 100px;
    color: white;
    font-family: Arial, sans-serif;
}
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #fff;
    z-index: 1001;
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 128px;
    height: 128px;
    margin-top: -32px;
    margin-left: -32px;
    background: url('../img/preloader/Preloader_1.gif') no-repeat 60% 60%; /*расположение (url) изображения gif и др. параметры*/
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

.custom-css3{
    font-size: 40px;
}

@media (max-width: 991px){
    .title__container , .title__container h4, .title__container input{
        color: white;
        position: relative;
        z-index: 3;
    }
    .title__container input{
        border: 2px solid white;
        border-radius: 7px;
    }
    .main{
        position: relative;
    }
    .main::after{
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);
    }
}
